<%- include('partials/_header.ejs') %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
        <div class="custom-loader"></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include('partials/_menu.ejs') %>
         <!-- end header inner -->
      <!-- contact -->
        <div class="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <div class="titlepage text_align_center">
                  <h2>Login</h2>
                </div>
              </div>
              <div class="col-md-8 offset-md-2">
                <form id="request" class="main_form" action="users/login" method="POST">
                  <div class="col-md-12">
                    <div style="display: none;" class="alert alert-danger" id="errorBlock"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form_control" placeholder="Username" type="text" name="username">
                    </div>
                    <div class="col-md-12">
                     <input class="form_control" placeholder="Password" type="password" name="password">                  
                   </div>
                    <div class="col-md-12">
                      <div class="group_form">
                        <button class="send_btn">Login</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      <!-- end contact -->
      <!-- end footer -->
      <script>
          const form = document.querySelector('form')
             const errorBlock = document.querySelector('#errorBlock')
 
             function clearInputs() {
              errorBlock.style.display = "none"
               form.username.value = ""
               form.password.value = ""
             }
             function getCookie(name) {
              const value = `; ${document.cookie}`;
              const parts = value.split(`; ${name}=`);
              if (parts.length === 2) return parts.pop().split(';').shift();
            }

             form.addEventListener("submit", async (e) => {
                e.preventDefault();
 
                const username = form.username.value
                const password = form.password.value
 
                try {
                   const res = await fetch('users/login', {
                      method: "POST",
                      body: JSON.stringify({ username, password }),
                      headers: { "Content-Type": "application/json","Set-Cookie": `jwt=${getCookie("jwt")}` }
                   })
 
                   const data = await res.json();
                   
                   
                   if (data) {
                       errorBlock.textContent = data.error
                       errorBlock.style.display = "block"
                       setTimeout(()=>{
                        clearInputs();
                       },3000)
                   }
                   
                  
 
                } catch (err) {
                   console.log("Error : ", err)
                }
               })
        // JavaScript kullanarak focus etkisi ekleyin
        const formElements = document.querySelectorAll(".form-control");
        formElements.forEach(element => {
          element.addEventListener("focus", function() {
            this.classList.add("hover");
          });
          element.addEventListener("blur", function() {
            this.classList.remove("hover");
          });
        });
        </script>
      <%- include('partials/_footer.ejs') %>